.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: cadetblue;
    height: 60px;
    margin: 0px;
    padding: 0;
}

.li {
    list-style: none;
    float: left;
    padding-left: 24px;
    color: White;
}

a {
    color: aliceblue;
    text-decoration: none;
}

    a:hover {
        color: goldenrod;
    }
.main {
    padding-top: 60px;
}
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    border-collapse: collapse;
    text-align: center;
}

td:first-child {
    background: #88b7b8;
    color: white;
    padding: 10px 20px;
}
th {
    background: #5f9ea0;
    color: white;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

td {
    background: #88b7b8;
    color: white;
}

    th:first-child, td:first-child {
        text-align: left;
    }

@keyframes shadow {
    from {
        margin-top: 0px;
        animation-timing-function: linear;
    }

    25% {
        margin-top: 20px;
        animation-timing-function: linear;
    }

    50% {
        margin-top: 40px;
        animation-timing-function: linear;
    }

    75% {
        margin-top: 60px;
        animation-timing-function: linear;
    }

    to {
        margin-top: 80px;
    }
}

.alert {
    padding: 15px;
    margin: 20px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    animation: shadow 3s linear forwards;
}

.x2716::after {
    content: '\2716';
    height: 15px;
    width: 15px;
    float: right;
    margin-top: -59px;
    margin-right: 30px;
    color: black;
}

.x2716:hover {
    cursor: pointer;
}
